{% extends "layout.html" %}

{% block content %}
    <div>

        <h1> Hi, I'm Rudys Acosta </h1>
        <p>
            Full Stack Developer, with over 10 years of experience developing various web products for companies, 
            helping automate processes and creating new products with different technologies.
            To learn more about what I do, read more about <a href="" class="my-link">what I do</a>.
        </p>
        <p>
            Passionate about web development, anime, and video games, in my free time I love developing projects 
            for my personal use and some crazy and sometimes silly ideas. If you want to know more about these <a href="" class="my-link">projects.</a>
        </p>
    </div>
{% endblock %}