{% extends "layout.html" %}

{% block content %}
    <div>
        <h1>Projects page</h1>

        <section>
            <h2>Training Model in spaCy</h2>
            <p>
                I am currently working on a project to train a natural language processing (NLP) model using spaCy. 
                This project involves creating training data for the model by annotating text with specific tags. 
                The goal is to improve the model's ability to recognize and classify different entities within the text.
            </p>
            <p>
                Here is the annotation process: <a href="https://www.spacyentitylab.ncrousset.dev/">Project Link</a>
            </p>
            <p>
                You can find the code for this project on GitHub: <a href="https://github.com/RudysAcosta/SpaCyEntityLab">SpaCyEntityLab Repository</a>
            </p>
        </section>

    </div>
{% endblock %}